<div class="container body-content">

    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{title}}</h2>
                </header>

                <p>
                    {{content}}
                </p>

                <small class="author">
                    Author: {{author.fullName}}
                </small>

                <small class="views">
                    Views: {{views}}
                </small>

                {{#each comments}}
                    <div class="col-md-3">
                        <small class="author">
                            {{this.user}}
                        </small>
                        <p>{{this.comment}}
                        </p>
                    </div>
                {{/each}}
                <br><br><br>
                <form class="form-horizontal comment-form" method="POST" action="/article/createComment/{{id}}">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="articleComment">Comment</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" id="articleComment" rows="5" name="comment"
                                      required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1 col-sm-offset-1">

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </form>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-success btn-xs" href="/article/edit/{{id}}">Edit &raquo;</a>
                        <a class="btn btn-danger btn-xs" href="/article/delete/{{id}}">Delete &raquo;</a>
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>